p {
  margin: 0;
}

.main-section-wrapper {
  max-width: 1640px;
  display: flex;
  margin: 0 auto;
}

.aside-hidden-header {
  display: none;
}
.aside-menu-section {
  margin-right: 36px;
}
.aside-item-list {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.aside-item {
  display: flex;
  width: 296px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 44px;
  align-items: center;
  text-decoration: none;
}
.aside-item-href {
  text-decoration: none;
  color: black;
}
.aside-item:nth-child(4n) {
  background-color: white;
}
.aside-item:nth-child(4n - 1) {
  background-color: #ffe8e8;
}
.aside-item:nth-child(4n - 2) {
  background-color: #e8eaf6;
}
.aside-item:nth-child(4n - 3) {
  background-color: #eefbff;
}
.aside-item:hover {
  background-color: #50c574;
  transition: ease 0.3s;
}
.aside-item:hover p {
  color: white;
  font-weight: bold;
  transition: ease 0.3s;
}

.aside-li-active {
  padding-left: 20px;
  width: 320px;
}
.aside-item-active {
  position: relative;
  color: #009a00;
  margin-left: 15px;
}

.aside-item-active::before {
  content: url(/01-master/img/main-service-back.png);
  position: absolute;
  top: -5px;
  left: -40px;
}

.main-content-wrapper {
  position: relative;
}

.advertise {
  text-align: center;
  background-color: #e8eaf6;
  background-image: url(/01-master/img/question.png);
  background-repeat: no-repeat;
  background-position: left 30% top 10px;
}
.advertise-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;
  padding-top: 25px;
}
.advertise-text {
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 27px;
}
.advertise-button {
  margin-bottom: 32px;
  width: 165px;
  height: 40px;
  border: 2px solid #50c574;
  background-color: #e8eaf6;
  border-radius: 25px;
  outline: none;
  font-size: 11px;
  font-weight: bold;
  color: #50c574;
}
.advertise-button:hover {
  background-color: #50c574;
  color: white;
  transition: color ease 0.5s;
  transition: background-color ease 0.5s;
}

.page-article-wrapper {
  display: flex;
}
.article-image {
  max-width: 100%;
}
.article-text-block {
  margin-top: 25px;
}
.page-article-section {
  max-width: 950px;
}

.article-text {
  margin-bottom: 20px;
  font-size: 16px;
}

.benefits {
  font-size: 16px;
  margin-top: 30px;
}

.benefits-title {
  margin-bottom: 25px;
}

.benefits-item {
  margin-bottom: 25px;
  margin-left: 50px;
  position: relative;
}
.benefits-item::before {
  display: inline-block;
  content: url(/01-master/img/main-service-back.png);
  transform: scale(0.8);
  width: 16px;
  height: 16px;
  position: absolute;
  left: -45px;
}

.price-container {
  font-size: 16px;
  display: flex;
  border-bottom: 1px solid #d7d7df;
  padding-bottom: 12px;
  padding-top: 12px;
  justify-content: space-between;
}
.price-container-header {
  background-color: #50c574;
  color: white;
  font-weight: bold;
  padding-top: 18px;
  padding-bottom: 18px;
}
.price-name {
  margin-left: 10px;
}
.price-value {
  margin-right: 70px;
}
.price {
  margin-right: 10px;
}
.prices-text-container {
  margin-top: 26px;
  font-size: 16px;
}

.our-specialists-title {
  margin-top: 20px;
  margin-bottom: 30px;
}
.our-specialists {
  display: flex;
  margin-left: 32px;
  margin-top: 25px;
}

.specialist-container {
  height: 386px;
  width: 284px;
  margin-left: 20px;
  text-align: center;
}
.specialist-image-container {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  border: 2px solid #e8eaf6;
  margin: 0 auto;
  border-radius: 100px;
}
.specialist-image-container:hover {
  border-color: #50c574;
  transition: ease 0.3s;
}
.specialist-title {
  font-weight: bold;
  font-style: 16px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.specialist-text {
  margin-bottom: 25px;
}
.specialist-info {
  text-decoration: none;
  color: black;
}
.specialist-href-container {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.specialist-href-container:hover .specialist-href {
  color: #009a00;
  transition: ease 0.3s;
}
.specialist-href-container:hover .specialist-icon {
  color: #009a00;
  transition: ease 0.3s;
}
.specialist-title:hover {
  color: #009a00;
  transition: ease 0.3s;
}
.specialist-text:hover {
  color: #009a00;
  transition: ease 0.3s;
}

.specialist-href {
  font-size: 18px;
  color: #50c574;
  margin-right: 10px;
}
.specialist-icon {
  margin-top: 3px;
  color: #50c574;
}

.page-navigation-container {
  width: 272px;
}
.page-navigation {
  margin-top: 35px;
  margin-left: 55px;
  width: 217px;
  background: linear-gradient(
    to right,
    #50c574 0%,
    #50c574 7%,
    white 7%,
    white 100%
  );
  text-align: left;
  padding-bottom: 5px;
  box-shadow: 0px 3px 6px #00000029;
}
.sticky-div {
  position: sticky;
  top: 0px;
}

.navigation-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
  margin-bottom: 25px;
}
.navigation-item {
  margin-bottom: 15px;
  margin-left: 36px;
}
.navigation-href {
  text-decoration: none;
  color: black;
}
.navigation-href:hover {
  color: #50c574;
  text-decoration: underline;
}

@media (max-width: 950px) {
  .page-navigation-container {
    display: none;
  }
}

@media (max-width: 425px) {
  .main-section-wrapper {
    width: 425px;
    margin: 0 auto;
  }
  .main-section-wrapper {
    flex-wrap: wrap;
  }
  .page-article-section {
    width: 425px;
  }
  .aside-menu-section {
    order: 2;
    margin: 0;
    width: 425px;
  }
  .aside-item {
    padding-left: 24px;
    padding-right: 0;
    margin-right: 0;
    width: 425px;
  }
  .aside-hidden-header {
    display: block;
    text-align: center;
  }

  .advertise-text {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }

  .price-value {
    margin-right: 40px;
  }

  .our-specialists {
    display: block;
    width: 425px;
    margin-left: 0;
  }
  .specialist-container {
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .main-section-wrapper {
    width: 320px;
    margin: 0 auto;
  }
  .page-article-section {
    width: 320px;
  }

  .our-specialists {
    width: 320px;
  }
}
