p {
  margin: 0;
}

.page-wrapper {
  margin-top: 25px;
  max-width: 1640px;
  background-color: #f2f2f2;
  display: inline-flex;
  margin: 0 auto;
}
.aside-menu {
  margin-right: 36px;
}
.aside-item-list {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.aside-item {
  display: flex;
  width: 296px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 44px;
  align-items: center;
  text-decoration: none;
}
.aside-item-href {
  text-decoration: none;
  color: black;
}
.aside-item:hover {
  background-color: #50c574;
  transition: ease 0.3s;
}
.aside-item:hover p {
  color: white;
  font-weight: bold;
  transition: ease 0.3s;
}
.aside-item-blue {
  background-color: #eefbff;
}
.aside-item-pink {
  background-color: #ffe8e8;
}
.aside-item-violet {
  background-color: #e8eaf6;
}
.aside-item-white {
  background-color: white;
}
.aside-li-active {
  padding-left: 20px;
  width: 320px;
}
.aside-item-active {
  position: relative;
  color: #009a00;
  margin-left: 15px;
}

.aside-item-active::before {
  content: url(/img/main-service-back.png);
  position: absolute;
  top: -5px;
  left: -40px;
}

.main-content-wrapper {
  background-color: grey;
  position: relative;
  /* width: 100%; */
}

.advertise {
  text-align: center;
  background-color: #e8eaf6;
  background-image: url(/img/question.png);
  background-repeat: no-repeat;
  background-position: left 30% top 10px;
}
.advertise-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;
  padding-top: 25px;
}
.advertise-text {
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 27px;
}
.advertise-button {
  margin-bottom: 32px;
  width: 165px;
  height: 40px;
  border: 2px solid #50c574;
  background-color: #e8eaf6;
  border-radius: 25px;
  outline: none;
  font-size: 11px;
  font-weight: bold;
  color: #50c574;
}
.advertise-button:hover {
  background-color: #50c574;
  color: white;
  transition: color ease 0.5s;
  transition: background-color ease 0.5s;
}

.page-article-wrapper {
  display: inline-flex;
}
.article-image {
  max-width: 100%;
}
.article-text-block {
  margin-top: 25px;
}
.page-article {
  max-width: 950px;
}

.article-text {
  margin-bottom: 20px;
  font-size: 16px;
}

.benefits {
  font-size: 16px;
  margin-top: 30px;
}

.benefits-title {
  margin-bottom: 25px;
  margin-left: 20px;
}

.benefits-item {
  margin-bottom: 25px;
  margin-left: 50px;
  position: relative;
}
.benefits-item::before {
  display: inline-block;
  content: url(/img/main-service-back.png);
  transform: scale(0.8);
  width: 16px;
  height: 16px;
  position: absolute;
  left: -50px;
}

.price-container {
  font-size: 16px;
  display: flex;
  height: 54px;
  line-height: 54px;
  border-bottom: 1px solid #d7d7df;
}
.price-container-header {
  background-color: #50c574;
  color: white;
  font-weight: bold;
  height: 78px;
  line-height: 78px;
}
.price-name {
  margin-left: 30px;
  margin-right: 500px;
}

.prices-text-container {
  margin-top: 26px;
  font-size: 16px;
}

.our-specialists-title {
  margin-top: 20px;
  margin-bottom: 30px;
}
.our-specialists {
  display: flex;
  margin-left: 32px;
  margin-top: 25px;
}

.specialist-container {
  height: 386px;
  width: 284px;
  margin-left: 20px;
  text-align: center;
}

.specialist-title {
  font-weight: bold;
  font-style: 16px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.specialist-text {
  margin-bottom: 25px;
}
.specialist-info {
  text-decoration: none;
  color: black;
}
.specialist-href-container {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.specialist-href-container:hover .specialist-href {
  color: #009a00;
  transition: ease 0.3s;
}
.specialist-href-container:hover .specialist-icon {
  color: #009a00;
  transition: ease 0.3s;
}

.specialist-href {
  font-size: 18px;
  color: #50c574;
  margin-right: 10px;
}
.specialist-icon {
  color: #50c574;
}

.page-navigation-container {
  width: 272px;
  position: relative;
}
.page-navigation {
  margin-top: 35px;
  margin-left: 55px;
  width: 217px;
  background: linear-gradient(
    to right,
    #50c574 0%,
    #50c574 7%,
    white 7%,
    white 100%
  );
  text-align: left;
  padding-bottom: 5px;
  position: fixed;
  box-shadow: 0px 3px 6px #00000029;
}

.navigation-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
  margin-bottom: 25px;
}
.navigation-item {
  margin-bottom: 15px;
  margin-left: 36px;
}
.navigation-href {
  text-decoration: none;
  color: black;
}
.navigation-href:hover {
  color: #50c574;
  text-decoration: underline;
}

@media (max-width: 320px) {
  .page-wrapper {
    flex-wrap: wrap;
  }
  .aside-menu {
    order: 2;
    width: 100%;
    background-color: honeydew;
  }
}
